
<div th:fragment="navbar" class="nav" xmlns:sec="http://www.w3.org/1999/xhtml">

  <div class="container navbar">
    <div class="row left">
      <h1>FileSafe</h1>
    </div>
    <div class="row right">
      <ul class="nav-ul">
        <li><a th:href="@{/}" class="nav-link">Home</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/register}">Register</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a class="nav-link" id="logOutButton">Logout</a></li>
      </ul>
      <form class="logout-form hidden" th:action="@{/logout}" th:method="post" id="logOutForm">
        <button class="logout-btn">#</button>
      </form>
    </div>

    <script>
      const logOutForm = document.getElementById('logOutForm')
      const logOutButton = document.getElementById('logOutButton')
      logOutButton.addEventListener('click', () => {
        logOutForm.submit()
      })
    </script>
  </div>
</div>