
:root {

}
html {
    scroll-behavior: smooth;
}
body {
    background: #333333;
    color: white;
}
.page-wrapper{

}
.hidden {
    display: none;
}



/*Index CSS*/

.banner {
    width: 100vw;
    height: 50vh;
    background-color: darkseagreen;
}