
:root {

}
html {
    scroll-behavior: smooth;
}
body {
    background: #292929;
    color: white;
}
.page-wrapper{

}
.hidden {
    display: none;
}



/*Index CSS*/

.banner {
    width: 100vw;
    height: 90vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading {
    font-size: 3.3rem;
    color: black;
}
.sub-heading {
    font-size: 2.3rem;
    color: black;
}

.who-we-are {
    width: 100vw;
    height: 100vh;
    background-color: navajowhite;
}