<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Home Page')}"></head>
<body>
<div class="page-wrapper">
    <nav th:insert="~{partials/navbar :: navbar}"></nav>
    <div class="container">
        <div class="banner">
            <h1 class="heading">Secure Document Storage</h1>
            <h1 class="sub-heading">Feel Confident With Your Confidentiality</h1>
        </div>
    </div>
    <div class="container">
        <div class="who-we-are">

        </div>
    </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>