<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Login')}"></head>
<body>
<div class="page-wrapper">
  <nav th:insert="~{partials/navbar :: navbar}"></nav>
  <div class="container">
    <div class="login-form">
      <h1>Login</h1>
      <form th:action="@{/login}" th:method="post">
        <input class="row" type="text" id="username" name="username" placeholder="Username" autofocus >
        <input class="row" type="password" id="password" name="password" placeholder="Password" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input class="row login-register-Btn" type="submit">
        <div class="row">
          <a th:href="@{/register}">Not Registered? Sign Up!</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>